[Unit]
Description=My Phone Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/work/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target